In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
from dask.distributed import Client, progress

client = Client()
# client = Client('127.0.0.1:8786')
client

In [4]:
import numpy as np
import pandas as pd
import dask.dataframe as dd

In [5]:
%%time

ddf = dd.read_csv('./data/yellow_tripdata_2016-*.csv', assume_missing=True, skip_blank_lines=True, error_bad_lines=False)

CPU times: user 232 ms, sys: 35.5 ms, total: 267 ms
Wall time: 387 ms

In [6]:
%%time

ddf.columns

CPU times: user 16 µs, sys: 1 µs, total: 17 µs
Wall time: 22.9 µs

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'],
      dtype='object')

In [7]:
%%time

ddf['total_amount'] = ddf['total_amount'].astype(float)

CPU times: user 9.6 ms, sys: 3.2 ms, total: 12.8 ms
Wall time: 11.4 ms

In [8]:
%%time

ddf['total_amount'].mean().compute()

CPU times: user 8.56 s, sys: 7.85 s, total: 16.4 s
Wall time: 1min 23s

16.055111934521598

In [9]:
%%time

ddf.head()

CPU times: user 103 ms, sys: 124 ms, total: 227 ms
Wall time: 1.63 s

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2.0,2016-01-01 00:00:00,2016-01-01 00:00:00,2.0,1.10,-73.990372,40.734695,1.0,N,-73.981842,40.732407,2.0,7.5,0.5,0.5,0.0,0.0,0.3,8.8
1,2.0,2016-01-01 00:00:00,2016-01-01 00:00:00,5.0,4.90,-73.980782,40.729912,1.0,N,-73.944473,40.716679,1.0,18.0,0.5,0.5,0.0,0.0,0.3,19.3
2,2.0,2016-01-01 00:00:00,2016-01-01 00:00:00,1.0,10.54,-73.984550,40.679565,1.0,N,-73.950272,40.788925,1.0,33.0,0.5,0.5,0.0,0.0,0.3,34.3
3,2.0,2016-01-01 00:00:00,2016-01-01 00:00:00,1.0,4.75,-73.993469,40.718990,1.0,N,-73.962242,40.657333,2.0,16.5,0.0,0.5,0.0,0.0,0.3,17.3
4,2.0,2016-01-01 00:00:00,2016-01-01 00:00:00,3.0,1.76,-73.960625,40.781330,1.0,N,-73.977264,40.758514,2.0,8.0,0.0,0.5,0.0,0.0,0.3,8.8